/dts-v1/;

/include/ "tegra124.dtsi"
/include/ "flashmap-tegra-ro.dtsi"
/include/ "flashmap-tegra-4mb-rw.dtsi"
/include/ "chromeos-tegra.dtsi"
/include/ "crostegra-common.dtsi"

/ {
	model = "NVIDIA Venice2";
	compatible = "nvidia,venice2", "nvidia,tegra124";

	config {
		hwid = "NVIDIA Venice2";
	};

	aliases {
		i2c0 = "/i2c@7000d000";
		i2c1 = "/i2c@7000c000";
		i2c2 = "/i2c@7000c400";
		i2c3 = "/i2c@7000c500";
		i2c4 = "/i2c@7000c700";
		i2c5 = "/i2c@7000d100";
		sdhci0 = "/sdhci@700b0600";
		sdhci1 = "/sdhci@700b0400";
		usb0 = "/usb@7d008000";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	ahub {
		i2s@70301100 {
			status = "okay";
		};
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;
		soundcodec@10 {
			reg = <0x10>;
			compatible = "maxim,max98090-codec";
		};
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <100000>;
		nvidia,no-repeat-start;
		tpm@20 {
			compatible = "infineon,slb9645-tpm";
			reg = <0x20>;
		};
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
		nvidia,cs-pinmux = <122>;	/* GPIO_PI3 */
		firmware_storage_spi: flash@0 {
			spi-max-frequency = <25000000>;
		};
	};

	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;
		spi-deactivate-delay = <100>;
		nvidia,cs-pinmux = <11>;	/* ULPI_STP */
		cros-ec {
			compatible = "google,cros-ec";
			spi-half-duplex;
			spi-frame-header = <0xec>;
			spi-max-frequency = <4000000>;
			spi-max-timeout-ms = <100>;
			ec-interrupt = <&gpio 23 1>; /* PC7, KBC_IRQ_L */
			reg = <0>;
		};
	};

	sdhci@700b0400 {
		cd-gpios = <&gpio 170 0>; /* gpio PV2 */
		power-gpios = <&gpio 136 0>; /* gpio PR0 */
		bus-width = <4>;
		status = "okay";
		nvidia,removable = <1>;
	};

	sdhci@700b0600 {
		bus-width = <8>;
		status = "okay";
		nvidia,removable = <0>;
	};

	usb@7d008000 {
		/* USB2 */
		nvidia,vbus-gpio = <&gpio 109 0>; /* gpio PN5, USB_VBUS_EN1 */
		status = "okay";
	};

	chromeos-config {
		virtual-dev-switch;

		/* disable memory clear */
		disable-memory-clear;

		vboot-flag-write-protect {
			compatible = "google,gpio-flag";
			gpio = <&gpio 137 1>; /* KB_ROW1/PR1 */
		};

		vboot-flag-recovery {
			compatible = "google,gpio-flag";
			gpio = <&gpio 135 1>; /* KB_COL7/PQ7 */
		};

		vboot-flag-developer {
			compatible = "google,gpio-flag";
			gpio = <&gpio 134 0>; /* KB_COL6/PQ6 */
		};

		vboot-flag-ec-in-rw {
			compatible = "google,gpio-flag";
			gpio = <&gpio 164 0>; /* GPIO_PU4 */
		};

		vboot-flag-lid-open {
			compatible = "google,gpio-flag";
			gpio = <&gpio 140 0>; /* KB_ROW4/PR4 */
		};

		vboot-flag-power-off {
			compatible = "google,gpio-flag";
			gpio = <&gpio 128 1>; /* KB_COL0/PQ0 */
		};

		/* option rom */
		vboot-flag-oprom-loaded {
			compatible = "google,const-flag";
			value = <0>;
		};
	};

	sound@70301100 {
		nvidia,i2s-pll-clock-frequency = <4800000>;
		nvidia,i2s-sampling-rate = <48000>;
		nvidia,i2s-bits-per-sample = <16>;
		nvidia,i2s-channels = <2>;
		nvidia,i2s-lr-clk-framesize = <256>;
		nvidia,i2s-bit-clk-framesize = <32>;
		nvidia,codec-type = "max98090";
		nvidia,i2s-controller = <&tegra_i2s1>;
		status = "okay";
	};
};
