/dts-v1/;

/include/ "tegra114.dtsi"
/include/ "flashmap-tegra-ro.dtsi"
/include/ "flashmap-tegra-4mb-rw.dtsi"
/include/ "chromeos-tegra.dtsi"
/include/ "crostegra-common.dtsi"

/ {
	model = "NVIDIA Venice";
	compatible = "nvidia,venice", "nvidia,tegra114";

	config {
		hwid = "NVIDIA Venice";
	};

	aliases {
		i2c0 = "/i2c@7000d000";
		i2c1 = "/i2c@7000c000";
		i2c2 = "/i2c@7000c400";
		i2c3 = "/i2c@7000c500";
		i2c4 = "/i2c@7000c700";
		sdhci0 = "/sdhci@78000600";
		sdhci1 = "/sdhci@78000400";
		usb0 = "/usb@7d008000";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x7ff00000>;
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <100000>;
		nvidia,no-repeat-start;
		tpm@20 {
			compatible = "infineon,slb9645-tpm";
			reg = <0x20>;
		};
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;
		nvidia,cs-pinmux = <122>;	/* GMI_CS6_N */
		firmware_storage_spi: flash@0 {
			spi-max-frequency = <25000000>;
		};
	};

	spi@7000d600 {
		status = "okay";
		spi-max-frequency = <25000000>;
		spi-deactivate-delay = <100>;
		nvidia,cs-pinmux = <7>;		/* ULPI_DATA7 */
		cros-ec {
			compatible = "google,cros-ec";
			spi-half-duplex;
			spi-frame-header = <0xec>;
			spi-max-frequency = <4000000>;
			spi-max-timeout-ms = <100>;
			ec-interrupt = <&gpio 23 1>; /* GMI_WP_N/PC7 -> KBC_IRQ_L */
		        reg = <1>;
		};
	};

	sdhci@78000400 {
		cd-gpios = <&gpio 170 0>; /* gpio PV2 */
		bus-width = <4>;
		status = "okay";
		nvidia,removable = <1>;
	};

	sdhci@78000600 {
		bus-width = <8>;
		status = "okay";
		nvidia,removable = <0>;
	};

	usb@7d008000 {
		/* SPDIF_IN: USB_VBUS_EN1 */
		nvidia,vbus-gpio = <&gpio 86 0>;
		status = "okay";
	};

	chromeos-config {
		virtual-dev-switch;

		/* disable memory clear */
		disable-memory-clear;

		vboot-flag-write-protect {
			compatible = "google,gpio-flag";
			gpio = <&gpio 137 1>; /* KB_ROW1/PR1 */
		};

		vboot-flag-recovery {
			compatible = "google,gpio-flag";
			gpio = <&gpio 135 1>; /* KB_COL7/PQ7 */
		};

		vboot-flag-developer {
			compatible = "google,gpio-flag";
			gpio = <&gpio 134 0>; /* KB_COL6/PQ6 */
		};

		vboot-flag-ec-in-rw {
			compatible = "google,gpio-flag";
			gpio = <&gpio 164 0>; /* GPIO_PU4 */
		};

		vboot-flag-lid-open {
			compatible = "google,gpio-flag";
			gpio = <&gpio 144 0>; /* KB_ROW8/PS0 */
		};

		vboot-flag-power-off {
			compatible = "google,gpio-flag";
			gpio = <&gpio 128 1>; /* KB_COL0/PQ0 */
		};

		/* option rom */
		vboot-flag-oprom-loaded {
			compatible = "google,const-flag";
			value = <0>;
		};
	};
};
